*{
    margin: 0;
    padding: 0;
    font-family:
        Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: rgba(3, 18, 22, 0.943);
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin: 20px;
    padding: 5px;
    font-family: sans-serif;
}

.converter-row {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    background: rgb(4, 83, 97);
    border-radius: 10px;
    padding: 50px 20px;
    font-family: sans-serif;
}
@media(max-width:550px){
    .converter-row {
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-content: space-between;
        align-items: center;
        background: rgb(4, 83, 97);
        border-radius: 10px;
        padding: 50px 20px;
        font-family: sans-serif;
    }
}
.col {
    flex-basis: 32%;
    text-align: center;
}

.col label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.col input {
    width: 150px;
    height: 30px;
    background: white;
    border-radius: 8px;
    text-align: center;
}